body {
	margin: 10px;
	background-image: url(https://image.freepik.com/free-photo/pastel-pink-watercolour-background_1048-6837.jpg);
}


.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1{
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid red;
	width: 350px;
	text-align: center;
	border-right: 2px solid yellow;
	box-shadow: 4px 4px 5px orange;
	margin: 20px;
}
img
{
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: all 1s;

}
img:hover{
	transform: scale(1.2);
	
}